.container {
  margin: 50px;
}
.usersList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.userButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(83, 158, 255);
  border: none !important;
  color: #fff;
  cursor: pointer;
}
.selected {
  background-color: rgb(0, 110, 255) !important;
}
.form {
  display: flex !important;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 50px;
}
.error {
  color: #0c5460;
  background-color: #d1ecf1;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #65daec;
  text-align: center;
}
.formField {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cecece;
  min-width: 50vh;
}
.label {
  display: block;
  padding: 10px 0px;
}

.button {
  margin-top: 20px;
  display: block;
  padding: 10px 20px;
  background-color: rgb(83, 158, 255);
  border: none !important;
  color: #fff;
  cursor: pointer;
}
.map {
  padding: 0 0 0 50px;
}
